{% extends 'base.html' %}
{% load static %}
{% block title %}Авторизация{% endblock title %}
{% block content %}
    <body class="mybody-b">
{#    {% if user.is_anonymous %}{% endif %}#}
    <div class="Registration_main__2epBH">
    <form method="post"  class="form-signin"> {% csrf_token %}
{#        <h2>Вход</h2>#}
{#        <h1>Ваше имя {{ form.username }}!</h1>#}
{#        <div>{{ form.username.errors }}</div>#}

        <div class="Registration_login__2AvmS">

            <p>Логин</p>
            {% if form.errors %}
                <div class="form-control required-login"> пароль или логин неправильные</div>
            {% else %}
            {% endif %}
                <div class="form-control required" id="id_username">{{ form.username }}</div>

        </div>

        <div class="Registration_field__GURFO">
            <p>Пароль</p>
            <div class="'form-control'">{{ form.password }}</div>
            <div>{{ form.password.errors}}</div>
        </div>

    <button type="submit">Войти</button>
        </form>
    </div>
    </body>
{% endblock content %}

