# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\django_project_work\prifile\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
