{% extends "base.html" %}
{% load static %}
{% block title %} Поиск {% endblock %}

{% block content %}
    <body class="mybody">
    <div class="Neighbors_main__tNG2g">
        <div class="my_row ">
            <form method="POST" action="{% url 'search_busines' %}">{% csrf_token %}
                <div class="fourth-face">
                    <div class="column">
                        <div class="pip">
                            <h4 class="my-2">Город</h4>
                            <label></label>
                            <select name="cities">
                                <option value="1" disabled selected required >---</option>
                                <option value="1">Москва</option>
                                <option value="2">Красноярск</option>
                                <option value="3">Ачинск</option>
                                <option value="4">Абакан</option>
                                <option value="5">Дивногорск</option>
                                <option value="6">Сосновоборск</option>

                            </select>
                        </div>
                        <div class="pip">
                            <h4 class="my-2">Район</h4>

                            <select name="districts">
                                <option value="1" disabled selected required>---</option>

                                <option value="1">Кировский</option>
                                <option value="2">Ленинский</option>
                                <option value="3">Октябрьский</option>
                                <option value="4">Свердловский</option>
                                <option value="5">Советский</option>
                                <option value="6">Центральный</option>
                                <option value="7">Железнодорожный</option>
                            </select>
                        </div>
                    </div>
                    <div class="column">
                        <div class="pip">
                            <h4 class="my-2">Категория бизнеса</h4>

                            <div class="column">

                                <input class="input_searc_bus" type="text" name="name_bus" value="" placeholder="Категория бизнеса">
                            </div>

                        </div>
                        <div class="pip" >
                            <button class="my-2 but-m2" >
                                Выбрать
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="for-row">
            {% for serxh_filer_s in serxh_filer %}
                <div class="my_content">
                    <div class="test">
                        <div class="search-border-b">

                            <div class="child-1-b"><img class="main_img" src="{{ MEDIA_URL }}{{ serxh_filer_s.5 }}" width="176" height="185"></div>
                            <div class="child-2-b">
                                <div style="text-decoration: underline;">{{ serxh_filer_s.0 }}</div><!--имя-->
                                <div>Город: {{ serxh_filer_s.1 }}</div><!--sel_city-->
                                <div>Район: {{ serxh_filer_s.2 }}</div><!--sel_distr-->
                                <div>Категория бизнеса: {{ serxh_filer_s.3 }}</div><!--category_bus-->
                                <div>О себе: {{ serxh_filer_s.4 }}</div><!--О себе-->
{#                                {{ serxh_filer_s.7 }}#}
                            </div>
                            <form action="{% url 'likes_busines' %}" method="post">{% csrf_token %}
                                <input type="hidden" value="{{ serxh_filer_s.7 }}" name="id_ancket">
                                <input type="hidden" value="{{ serxh_filer_s.6 }}" name="first">
                                <input type="hidden" value="{{ request.user.username }}" name="second">
                                <input type="hidden" value="{{ request.user.email }}" name="email">
                                <input type="hidden" value="{{ request.user.id }}" name="second_id">
                                {% if request.user.id == serxh_filer_s.6 %}
                                    <div>Ваша анкета!</div>
                                {% elif serxh_filer_s.8 != '1' %}
                                    <button class="nice-but" type="submit">Лайк</button>
                                {% else %}
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div><!--end my-content-->
            {% endfor %}
        </div>
    </div>
    </body>
{% endblock %}